.loader-container {
  display: flex;
  justify-content: center;
  align-items: center; /* This handles the vertical centering */
  flex-direction: column;
  height: 100vh; /* Forces it to the full height of the browser window */
  width: 100%;
  background-color: #f5f5f5; /* Add a temporary background color to physically see the container's size */
}

.loader {
  text-align: center;
  font-size: large;
}
